
.App{
  padding: 3%;
  height: 100%;
}

.additionBox {
  margin-top: 50px;
}
.additionMenu {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.trackTable{
  margin-top: 50px;
}

.setupButtons{
  margin-left: 10px;
}

